
img :first-child {
  display: none;
}

.App {
  text-align: center;
  max-width: 728px;
  margin: 0 auto;
}

.App header {
  background-color: var(--bg-primary);
  filter:brightness(50%);
  height: 10vh;
  min-height: 50px;
  color: white;
  position: fixed;
  width: 100%;
  max-width: 728px;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 99;
  padding: 10px;
  box-sizing: border-box;
}

.App section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  background-color: var(--bg-secondary);
}

main {
  padding: 10px;
  height: 80vh;
  margin: 10vh 0 10vh;
  display: flex;
  flex-direction: column;


  overflow-y: scroll;
  overscroll-behavior-y: contain;
  scroll-snap-type: y proximity;
  scroll-behavior: smooth;
  scroll-snap-align: end;
}

main::-webkit-scrollbar {
  width: 0.25rem;
  height: 0;
}

main::-webkit-scrollbar-track {
  background: #1e1e24;
}

main::-webkit-scrollbar-thumb {
  background: #6649b8;
}

form {
  height: 10vh;
  position: fixed;
  bottom: 0;
  background-color: rgb(24, 23, 23);
  width: 100%;
  max-width: 728px;
  display: flex;
  font-size: 1.5rem;
}

form button {
  width: 20%;
  background-color: rgb(56, 56, 143);
}

[name="message-sender"]::-webkit-resizer {
  display: none;
  pointer-events: none;
}

[name="message-sender"]::-webkit-scrollbar {
  max-width: 3px;
}
[name="message-sender"]::-webkit-scrollbar-thumb {
  background: rgb(42, 42, 42);
}
[name="message-sender"]::-webkit-scrollbar-track {
  background: transparent;
  min-height: 100%;
}
[name="message-sender"]::-webkit-scrollbar-corner, [name="message-sender"]::-webkit-scrollbar-track-piece {
  display: none;
}

input, [name="message-sender"] {
  line-height: 1.5;
  width: 100%;
  font-size: 1.5rem;
  background: rgb(58, 58, 58);
  color: white;
  outline: none;
  border: none;
  padding: 0 10px;
}

button {
  background-color: #282c34; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  font-size: 1.25rem;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}


.sign-in {
  color: #282c34;
  background: white;
  max-width: 400px;
  margin: 0 auto;
}




ul, li {
  text-align: left;
  list-style: none;
}


.banned-alert {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  color: #bbbbbb;
  padding: 5px;
  width: calc(50vw / 2.5);
  height: calc(50vh / 2.5);
  border-radius: 7px;
  border: 0.1px solid gray;
  background: rgb(56, 56, 143);
}
